#about {
    padding: 80px 0;
    background-color: var(--background-color);
    text-align: center;
}

.about-me {
    font-size: 2.5em;
    margin-bottom: 30px;
    color: var(--text-color);
}

.about-content {
    max-width: 800px;
    margin: 0 auto;
    line-height: 1.6;
    color: var(--light-text-color);
    background-color: var(--card-background);
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 8px 20px var(--shadow-light);
}


@media (max-width: 768px) {
    #about {
        padding: 60px 20px;
    }

    .about-me {
        font-size: 2em;
    }

    .about-content {
        padding: 20px;
        max-width: 100%;
    }

    .about-content p {
        font-size: 1em;
    }
}

@media (max-width: 480px) {
    #about {
        padding: 40px 15px;
    }

    .about-me {
        font-size: 1.8em;
    }

    .about-content p {
        font-size: 0.9em;
    }
}