.footer {
    background-color: var(--card-background);
    color: var(--light-text-color);
    padding: 40px 20px;
    text-align: center;
    font-size: 0.9em;
    box-shadow: 0 -2px 10px var(--shadow-light);
}

.footer p {
    margin: 0;
    color: var(--light-text-color);
}

.social-links {
    margin-top: 20px;
    margin-bottom: 15px;
}

.social-icon {
    color: var(--light-text-color);
    font-size: 1.8em;
    margin: 0 10px;
    transition: color 0.3s ease, transform 0.3s ease;
}


@media (max-width: 768px) {
    .footer {
        padding: 30px 15px;
        font-size: 0.8em;
    }

    .social-icon {
        font-size: 1.5em;
        margin: 0 8px;
    }
}

@media (max-width: 480px) {
    .footer {
        padding: 20px 10px;
        font-size: 0.75em;
    }

    .social-icon {
        font-size: 1.3em;
        margin: 0 6px;
    }
}